html {
	background-color: #e9e9e9;
}

#g_nav {
	display: none;
}

#g_loading {
	display: none;
}

#logo {
	padding-top: 10px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #e9e9e9;
	height: 70px;
}

#logo .ipsalogo {
	margin-top: 5px;
	padding-left: 150px;
	width: 200px;
	height: 70px;
	display: inline-block;
	background-image: url(../images/ipsa_logo_color.png);
	background-repeat: no-repeat;
}

#logo .ipsalogo  span {
	font-family: "Microsoft yahei", "풕턼환쥌";
	font-size: 34px;
	color: #333;
	height: 60px;
	line-height: 60px;
	border-left: 1px solid #c9c9c9;
	display: inline-block;
	margin-top: 7px;
	padding-left: 22px;
	margin-left: 175px;
}

#logo .isslogo {
	margin-top: 20px;
	width: 160px;
	height: 50px;
	display: inline-block;
	background-image: url(../images/iss_logo_color.png);
	background-repeat: no-repeat;
}

#g_loginform {
	position: fixed;
	top: 45%;
	margin-top: -200px;
	left: 50%;
	height: 420px;
	width: 1230px;
	margin-left: -625px;
	background-color: #fff;
	outline: 1px solid #ddd;
	border: 10px solid #fff;
	-moz-box-shadow: 2px 2px 10px #333;
	-webkit-box-shadow: 2px 2px 10px #333;
	box-shadow: 2px 2px 10px #333;
	background-image: url(../images/touch.jpg);
	background-repeat: no-repeat;
}

#g_loginform.spring {
	background-image: url(../images/bg2_1.png);
}

#g_loginform.winter {
	background-image: url(../images/bg2_2.png);
}

#g_loginform.autumn {
	background-image: url(../images/bg2_3.png);
}

#g_loginform.xmas1 {
	background-image: url(../images/bg_0.png);
}

#g_loginform.xmas2 {
	background-image: url(../images/bg_1.png);
}

#g_loginform.xmas3 {
	background-image: url(../images/bg_2.png);
}

#g_loginform.xmas4 {
	background-image: url(../images/bg_3.png);
}

#g_loginform.newyear1 {
	background-image: url(../images/bg1_0.jpg);
}

#g_loginform.newyear2 {
	background-image: url(../images/bg1_1.jpg);
}

#g_loginform.newyear3 {
	background-image: url(../images/bg1_2.jpg);
}

#g_loginform.newyear4 {
	background-image: url(../images/bg1_3.jpg);
}

#g_loginform.vote {
	background-image: url(../images/vote.jpg);
}

#g_loginform.special {
	background-image: url(../images/special.jpg);
	background-size: 100%;
}

#g_loginform form {
	position: absolute;
	top: 20px;
	right: 30px;
	border: 1px solid #fff;
	background-color: rgb(240, 240, 240);
	background-color: rgba(255, 255, 255, 0.75);
	margin: 5px;
	padding: 20px 28px 20px 28px;
	width: 300px;
	-moz-box-shadow: 2px 2px 10px #333;
	-webkit-box-shadow: 2px 2px 10px #333;
	box-shadow: 2px 2px 10px #333;
}

#g_loginform form .textinput {
	height: 33px;
	line-height: 33px !important;
	font-family: "segoe ui", "Microsoft yahei", "풕턼환쥌";
	font-size: 14px;
	color: #555;
	z-index: 100;
	padding-left: 35px;
}

#DomainName i, #Password i {
	line-height: 38px;
	vertical-align: top;
	font-size: 16px;
	display: inline-block;
	color: #aaa;
}

#DomainName, #Password {
	white-space: nowrap;
	margin-bottom: 10px;
}

#DomainName i {
	margin-left: -288px;
}

#Password i {
	font-size: 17px;
	margin-left: -288px;
}

#DomainName .textinput, #Password .textinput {
	width: 260px;
	padding-right: 2px;
}

#DomainName.error .textinput, #Password.error .textinput {
	border-color: #d71921;
}

.password em {
	margin-left: 12px;
}

.password label, .password a, #DomainName label, #Password label {
	font-family: "Microsoft yahei", "풕턼환쥌";
	font-size: 12px;
	color: #555;
}

#ForgetPassword {
	margin-left: 14px;
}

#issclink {
	margin-left: 24px;
}

#ForgetPassword:hover, #issclink:hover {
	text-decoration: underline;
}

#g_footer, #g_footer .navbar .nav>li>a {
	font-family: "SimSun", "풻", "Arial";
	color: #424242;
}

.nav .dropdown-toggle .caret, .nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret
	{
	border-top-color: #424242;
	border-bottom-color: #424242;
}

.help-block {
	font-family: "Microsoft yahei", "풕턼환쥌";
	font-size: 12px;
	visibility: hidden;
	color: #d71921;
}

div.error .help-block {
	visibility: visible;
}

@media ( max-width : 769px) {
	body {
		background-color: rgb(233, 233, 233);
	}
	#logo .ipsalogo {
		padding-left: 20px;
	}
	#logo .ipsalogo span {
		margin-left: 150px;
		padding-left: 22px;
		white-space: nowrap;
	}
	#g_footer, .isslogo, i {
		display: none !important;
	}
	#RemeberMe {
		display: inline-block !important;
	}
	#g_loginform {
		position: relative;
		background-image: none !important;
		width: 90%;
		left: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		background-color: transparent;
		border: none !important;
		outline: none !important;
		box-shadow: none;
	}
	#g_loginform form {
		position: relative;
		right: auto;
		top: auto;
		left: 0px;
		padding-left: 18px;
		padding-right: 18px;
		margin-left: 0px;
		background-color: #fff;
		width: 90%;
	}
	.textinput {
		display: block;
		width: 93% !important;
		padding-left: 0px;
	}
	#Password>label, #DomainName>label {
		display: block;
	}
}

@media ( max-width : 480px) {
	#BtnSubmit {
		width: 90%;
	}
	.textinput {
		display: block;
		width: 80% !important;
		padding-left: 0px;
	}
	#logo .ipsalogo span, #bgslideol {
		display: none !important;
	}
}

#Special {
	font-family: "Microsoft yahei", "풕턼환쥌";
	font-size: 14px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 0px;
	margin-left: 0px;
	height: 33px;
	width: 180px;
	background-color: #d71921;
	text-align: center;
	word-spacing: 10px;
	letter-spacing: 3px;
}

#Special:focus {
	color: #aaa;
}

#BtnLogin {
	font-family: "Microsoft yahei", "풕턼환쥌";
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	margin-left: 0px;
	height: 33px;
	width: 100%;
	background-color: #d71921;
	text-align: center;
	word-spacing: 10px;
	letter-spacing: 3px;
}

#BtnLogin:focus {
	color: #aaa;
}

#BtnLink {
	vertical-align: middle;
	margin-top: 20px;
	height: 33px;
	line-height: 33px;
	display: inline-block;
	margin-left: 20px;
	color: #555;
}

#BtnLink:hover {
	text-decoration: underline;
}

#bgLogin {
	width: 830px;
	height: 420px;
}

#bgslideol {
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 5;
	margin: 0;
	list-style: none;
}

#bgslideol li {
	display: block;
	float: left;
	width: 5px;
	height: 5px;
	margin-left: 5px;
	text-indent: -999px;
	background-color: #ccc;
	border-radius: 0px;
	cursor: pointer;
}

#bgslideol li.active {
	background-color: #0072C6 !important;
}

#newEMP a {
	font-family: "Microsoft yahei", "풕턼환쥌";
	font-size: 14px;
	color: #fff;
	padding: 0px;
	margin-left: 0px;
	height: 33px;
	line-height: 33px;
	width: 100%;
	background-color: #d71921;
	text-align: center;
	word-spacing: 10px;
	letter-spacing: 3px;
}

#BtnQ12, #BtnQS, #BtnHIPO {
	font-family: "Microsoft yahei", "풕턼환쥌";
	font-size: 14px;
	color: #fff;
	padding: 0px;
	margin-left: 0px;
	height: 33px;
	line-height: 33px;
	width: 100%;
	background-color: #D71921;
	text-align: center;
	word-spacing: 10px;
	letter-spacing: 3px;
}

#g_loginform form {
	top: 10px;
}

#Submit span {
	margin-bottom: 0px;
}