<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.PermissionsMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.Permissions">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="en_code" jdbcType="VARCHAR" property="enCode" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url_address" jdbcType="VARCHAR" property="urlAddress" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="allow_expand" jdbcType="CHAR" property="allowExpand" />
    <result column="is_public" jdbcType="CHAR" property="isPublic" />
    <result column="allow_edit" jdbcType="VARCHAR" property="allowEdit" />
    <result column="allow_delete" jdbcType="VARCHAR" property="allowDelete" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort_code" jdbcType="INTEGER" property="sortCode" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="available" jdbcType="CHAR" property="available" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="delete_reason" jdbcType="VARCHAR" property="deleteReason" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, module_id, parent_id, en_code, full_name, icon, url_address, target, type, allow_expand, 
    is_public, allow_edit, allow_delete, status, sort_code, is_delete, available, description, 
    delete_reason, permission_name, create_time, create_by, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permissions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectForAllRoles" resultClass="java.util.Map">
    select 
    	p.id, p.module_id, p.parent_id, p.en_code, p.full_name, p.target, r.id roleId
    from 
    	permissions p
    inner join 
    	roles_permissions rp on rp.permission = p.permission_name
    inner join 
    	user_roles r on r.role_name = rp.role_name
  </select>
  <select id="selectByRoleId" parameterType="java.lang.Integer" resultClass="java.util.Map">
    select 
    	p.id, p.module_id, p.parent_id, p.en_code, p.full_name, p.target, r.id roleId
    from 
    	permissions p
    inner join 
    	roles_permissions rp on rp.permission = p.permission_name
    inner join 
    	user_roles r on r.role_name = rp.role_name
    where r.id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permissions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.pojo.Permissions">
    insert into permissions (id, module_id, parent_id, 
      en_code, full_name, icon, 
      url_address, target, type, 
      allow_expand, is_public, allow_edit, 
      allow_delete, status, sort_code, 
      is_delete, available, description, 
      delete_reason, permission_name, create_time, 
      create_by, update_time, update_by
      )
    values (#{id,jdbcType=INTEGER}, #{moduleId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{enCode,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{urlAddress,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{allowExpand,jdbcType=CHAR}, #{isPublic,jdbcType=CHAR}, #{allowEdit,jdbcType=VARCHAR}, 
      #{allowDelete,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{sortCode,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=CHAR}, #{available,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{deleteReason,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.pojo.Permissions">
    insert into permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="enCode != null">
        en_code,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="urlAddress != null">
        url_address,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="allowExpand != null">
        allow_expand,
      </if>
      <if test="isPublic != null">
        is_public,
      </if>
      <if test="allowEdit != null">
        allow_edit,
      </if>
      <if test="allowDelete != null">
        allow_delete,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sortCode != null">
        sort_code,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="deleteReason != null">
        delete_reason,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="enCode != null">
        #{enCode,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="urlAddress != null">
        #{urlAddress,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="allowExpand != null">
        #{allowExpand,jdbcType=CHAR},
      </if>
      <if test="isPublic != null">
        #{isPublic,jdbcType=CHAR},
      </if>
      <if test="allowEdit != null">
        #{allowEdit,jdbcType=VARCHAR},
      </if>
      <if test="allowDelete != null">
        #{allowDelete,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sortCode != null">
        #{sortCode,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="deleteReason != null">
        #{deleteReason,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.pojo.Permissions">
    update permissions
    <set>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="enCode != null">
        en_code = #{enCode,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="urlAddress != null">
        url_address = #{urlAddress,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="allowExpand != null">
        allow_expand = #{allowExpand,jdbcType=CHAR},
      </if>
      <if test="isPublic != null">
        is_public = #{isPublic,jdbcType=CHAR},
      </if>
      <if test="allowEdit != null">
        allow_edit = #{allowEdit,jdbcType=VARCHAR},
      </if>
      <if test="allowDelete != null">
        allow_delete = #{allowDelete,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sortCode != null">
        sort_code = #{sortCode,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="deleteReason != null">
        delete_reason = #{deleteReason,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.Permissions">
    update permissions
    set module_id = #{moduleId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      en_code = #{enCode,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      url_address = #{urlAddress,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      allow_expand = #{allowExpand,jdbcType=CHAR},
      is_public = #{isPublic,jdbcType=CHAR},
      allow_edit = #{allowEdit,jdbcType=VARCHAR},
      allow_delete = #{allowDelete,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort_code = #{sortCode,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=CHAR},
      available = #{available,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      delete_reason = #{deleteReason,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>